<a id="contacts"
  ><div class="contacts">
    <div class="message-group">
      <h1>Send me a message</h1>
      <form id="email-form">
        <label for="name">Name</label>
        <input name="name" id="name" />
        <label for="email">Email</label>
        <input name="email" id="name" />
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
        <input type="submit" value="Send" />
      </form>
    </div>
    <div class="social-group">
      <div class="social-links">
        <a href="https://www.linkedin.com/in/bojo-luis-alcisto-0b7aa9117/"
          ><%= require("../assets/linkedin.svg") %></a
        ><a href="https://github.com/bojoluis21798"
          ><%= require("../assets/github.svg") %></a
        ><a href="https://www.facebook.com/bojo.alcisto/"
          ><%= require("../assets/facebook.svg") %></a
        ><a href="https://www.instagram.com/watchbojo/"
          ><%= require("../assets/instagram.svg") %></a
        >
      </div>
      <div class="mail">
        <%= require("../assets/mail.svg") %>
        <p>bojoluis21798@gmail.com</p>
      </div>
    </div>
  </div>
</a>
