<div class="contacts">
  <div class="message-group">
    <h1>Send me a message</h1>
    <form>
      <label>Name</label>
      <input />
      <label>Message</label>
      <textarea></textarea>
    </form>
    <button>Send</button>
  </div>
  <div class="social-group">
    <div class="social-links">
      <%= require("../assets/linkedin.svg") %> <%=
      require("../assets/github.svg") %> <%= require("../assets/facebook.svg")
      %> <%= require("../assets/instagram.svg") %><%=
      require("../assets/twitter.svg") %>
    </div>
    <div class="mail">
      <%= require("../assets/mail.svg") %>
      <p>bojoluis21798@gmail.com</p>
    </div>
  </div>
</div>
