<div class="skills">
  <div class="skills__logo">
    <%= require("../assets/skills.svg") %> <%=
    require("../assets/typescript.svg") %><%= require("../assets/react.svg")
    %><%= require("../assets/javascript.svg") %> <%=
    require("../assets/redux.svg") %> <%= require("../assets/sass.svg") %>
  </div>
</div>
