<div class="skills">
  <%= require("../assets/clouds2.svg") %>
  <h1>Skills</h1>
  <div class="skills__logo">
    <img class="person-float" src="<%=
    require("!url-loader!../assets/skills.svg").default %>" alt="skills"/>
    <div class="logo-group">
      <h3 class="logo-title">Javascript</h3>
      <%= require("../assets/javascript.svg") %>
    </div>
    <div class="logo-group">
      <h3 class="logo-title">Typescript</h3>
      <%= require("../assets/typescript.svg") %>
    </div>
    <div class="logo-group">
      <h3 class="logo-title">React</h3>
      <%= require("../assets/react.svg") %>
    </div>
    <div class="logo-group">
      <h3 class="logo-title">Vue</h3>
      <%= require("../assets/vue.svg") %>
    </div>
    <div class="logo-group">
      <h3 class="logo-title">Node.js</h3>
      <%= require("../assets/nodejs.svg") %>
    </div>
  </div>
</div>
